* text=auto !eol
/INSTALL.ASL -text
/Makefile.am -text
/coinasl-uninstalled.pc.in -text
/coinasl.pc.in -text
/compile_MS_ASL.in -text
/compile_Unix_ASL.in -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
/get.ASL -text
/install-sh -text
/ltmain.sh -text
/mingw.patch -text
/missing -text
