* text=auto !eol
/INSTALL.ASL -text
/Makefile.am -text
/README -text
/asl_addlibs.txt.in -text
/coinasl-uninstalled.pc.in -text
/coinasl.pc.in -text
/compile_MS_ASL.in -text
/compile_Unix_ASL.in -text
/configure -text
/get.ASL -text
